In [26]:
from dgh import dist_geo_haversine
import pandas as pd
import numpy as np

# Generating Data Synthetic

In [27]:
A=pd.DataFrame({'Cpf':list(range(0,1000)),'Lat':np.random.uniform(0,1,1000),'Long':np.random.uniform(0,1,1000),'Age':np.random.gamma(5,10,1000)})

B=pd.DataFrame({'Cpf':list(range(0,100000)),'Lat':np.random.uniform(0,1,100000),'Long':np.random.uniform(0,1,100000),'Age':np.random.gamma(5,10,100000)})

In [ ]:
# Create function to calculated the features

In [28]:
def sample(x):
   return pd.Series({'AVG':np.mean(x['Age']),'STD':np.std(x['Age']),'QTD':x.shape[0]})

# For two dataset 

 The init function dist_geo_haversine is necessary add all values of parameters with choice of user.

In [29]:
dist=dist_geo_haversine(dt_ref=A,dt_comp=B,km=15,n_lat='Lat',
n_long='Long',path='C:/Users/valteresj/Documents/Projetos/geodist/',func=sample,key='Cpf')

# Run Processes

In [30]:
result=dist.vizinhos_geo()

100%|█████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:07<00:00, 128.64it/s]

In [31]:
result.head()

   Cpf       Lat      Long        Age        AVG        STD     QTD
0    0  0.969486  0.333463  23.799835        NaN        NaN     NaN
1    1  0.720954  0.097751  18.679779        NaN        NaN     NaN
2    2  0.377240  0.474020  83.316580  50.156660  22.591063  4255.0
3    3  0.932243  0.141865  68.905467        NaN        NaN     NaN
4    4  0.831720  0.561856  63.964840  48.445147  21.718501   136.0

# For same dataset

In [32]:
dist=dist_geo_haversine(dt_ref=A,km=15,n_lat='Lat',
n_long='Long',path='C:/Users/valteresj/Documents/Projetos/geodist/',func=sample,key='Cpf')

In [34]:
result=dist.vizinhos_geo()

100%|█████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:03<00:00, 306.18it/s]

In [35]:
result.head()

   Cpf       Lat      Long        Age        AVG        STD   QTD
0    0  0.969486  0.333463  23.799835  46.777250  19.311326  43.0
1    1  0.720954  0.097751  18.679779  56.746118  23.402535  56.0
2    2  0.377240  0.474020  83.316580  41.842284  19.730031  51.0
3    3  0.932243  0.141865  68.905467  56.403298  26.240129  38.0
4    4  0.831720  0.561856  63.964840  53.235698  22.714806  44.0